@using ADDCART.Models.Database;
@{
    ViewBag.Title = "Index";
}


<div>
    <h2>INDEX</h2>
    <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Session["cart"] != null)
                    {
                        foreach (var Product in (List<Product>)Session["cart"])
                        {
                            <li>@Product.Name</li>

                        }
                    }
                <li> <a href="/Product/CheckOut" class="btn btn-danger">CheckOut</a> </li>
                </ul>
            </li>
        </ul>
   
</div>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <td><b>Product Id</b></td>
            <td><b>Name</b></td>
            <td><b>Price</b></td>
            <td><b>Quantity</b></td>
            <td><b>Action</b></td>
        </tr>

        @foreach (var b in Model)
        {
            <tr>
                <td>@b.productId</td>
                <td>@b.Name</td>
                <td>@b.Price</td>
                <td>@b.Quantity</td>
                
                <td>
                    @using (Html.BeginForm("AddCart", "Product", new { @productId = b.productId }, FormMethod.Post))
                    {
                        
                        @*<a href="/Product/Index/@b.productId" class="btn btn-danger">Add to Cart</a>*@
                        <button type="submit" class="btn btn-danger">Add to Cart</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>

